@{
    Layout = null;
}

<div class="container">
  <div class="page-header">
    <h1>Second View <small>Select Another...</small></h1>
  </div>
  <div class="list-group">
    <a href="#/view1" class="list-group-item">
      <span class="badge">{{count.view1}}</span>
      Our First View
    </a>
    <a href="#/view2" class="list-group-item active">
      <span class="badge">{{count.view2}}</span>
      Our "Now" view; #2
    </a>
    <a href="#/view3" class="list-group-item">
      <span class="badge">{{count.view3}}</span>
      View the Third
    </a>
    <a href="#/view4" class="list-group-item">
      <span class="badge">{{count.view4}}</span>
      Last and 4th View
    </a>
  </div>
</div>
