@{
    Layout = null;
}


<div class="container">
  <div class="page-header">
    <h1>Fourth View <small>Finale!</small></h1>
  </div>
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Stats From Your Journy</div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>View Route</th><th>Controller</th><th>Partial</th><th>Count</th>
    </tr>
    <tr>
      <td>View1</td><td>CtrlOne</td><td>PartialOne</td><td>{{count.view1}}</td>
    </tr>
    <tr>
      <td>View2</td><td>CtrlOther</td><td>PartialTwo</td><td>{{count.view2}}</td>
    </tr>
    <tr>
      <td>View3</td><td>CtrlOther</td><td>PartialThree</td><td>{{count.view3}}</td>
    </tr>
    <tr>
      <td>View4</td><td>CtrlOther</td><td>PartialFour</td><td>{{count.view4}}</td>
    </tr>
  </table>
</div>
</div>
