@{
    Layout = null;
}
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>{{title}}</h1>
      <p>{{caption}}</p>
      <p><a class="btn btn-primary btn-lg" href="#/view2">Next View</a></p>
    </div>
  </div>
</div>